:root {
	--light-brown: #b87d4b;
	--black: #333333;
	--white: #f5f5f5;
	--dark-brown: #523a34;
}

body {
	display: grid;
	grid-template-rows: 1fr 5fr;
	background-color: var(--dark-brown);
	color: var(--black);
}

a {
	color: var(--black);
}

a:visited {
	color: var(--black);
}

.header h1 {
	font-size: 2em;
	background: -webkit-linear-gradient(#fa709a, #fee140);
	padding-left: 15px;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header {
	display: grid;
	grid-row: 1;
}
