:root {
	--light-brown: #b87d4b;
	--black: #333333;
	--white: #f5f5f5;
	--dark-brown: #523a34;
	--yellow: #fbf1c7;
}

html,
body {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-rows: 1fr 5fr;
	background-color: #ffe086;
	background-image: linear-gradient(180deg, #ffe086 0%, #fbf1c7 100%);
	color: var(--black);
}

button {
	width: 100px;
	height: 35px;
	font-size: 1em;
}
/* Header Styles */
.header h1 {
	font-size: 2em;
	background: -webkit-linear-gradient(#46988e, #274d5b);
	padding-left: 15px;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-row: 1;
}

.options {
	grid-column: 3;
	grid-row: 2;
	gap: 1em;
}

/* Books Section */
.books-container {
	grid-row: 2;
}

.books-card {
	height: 600px;
	width: 400px;
	background: #f5f5f5;
}

/* Footer Styles */
footer {
	display: flex;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	align-items: center;
	flex-direction: column;
}

footer p {
	font-size: 0.75em;
	color: var(--black);
}

footer a {
	color: var(--black);
	font-size: 2em;
	padding: 5px;
}

footer a:visited {
	color: var(--black);
}
