:root {
	--black: #333333;
	--white: #f5f5f5;
}

body {
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--black);
}

.header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
